li{
    list-style: none;
    background: #f9f9f9;
    padding: 5px;
    cursor:pointer
}
li:hover{
    background: #b39d9d
}
ul{
    padding: 0;
}
.dialogue{margin-top: 10px;}
.dialogue .col-md-6{padding: 0}
.dialogue .btn-save{margin-left: 3px}
.solid_button{
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
}
