

<h2>{{selectedItem.name}}</h2>
<hr/>

<div class="dialogue add_new">
    <form (submit)="addProject()">
        <div class="col-md-6">
            <input type="text" [(ngModel)] ="newProject.name" class="form-control col-md-6" name="txtClientName"/>
        </div>
        <div class="col-md-6">
            <input type="submit"  class="btn btn-primary" value="Save"/>
        </div>
        <div class="clearfix"></div>  
    </form>
</div>

<div *ngIf="selectedItem.projects.length == 0">
    No item found
</div>


<ul>
  <li *ngFor="let item of selectedItem.projects">{{item.name}}</li>
</ul>
