<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/portal']">Client Manager Portal</a>
        </div>
        <div class='clearfix'></div>
        
        <div class='navbar-collapse collapse'>
            <div  *ngIf="openAddClientBox" class="add_new">
                <form (submit)="addClient()">
                    <label class="label label-danger">{{validationMessage}}</label>
                    <div class="col-md-10">
                        
                        <input type="text" required minlength="1" [(ngModel)] ="newClient.name" class="form-control " name="txtClientName"/>
                    </div>
                    <div class="col-md-2">
                        <button class="solid_button" type="submit"><span class="btn btn-save btn-primary glyphicon glyphicon-floppy-disk"></span></button>
                    </div>
                    <div class="clearfix"></div>  
                </form>
            </div>
            <div *ngIf="!openAddClientBox" class="btn-plus-div">
                <button  (click)="DisplayAddClientBox()"  class="btn-plus btn btn-primary">+</button>
            </div>
            <ul class='nav navbar-nav'>
                    <li [routerLinkActive]="['link-active']" 
                        *ngFor="let item of clientList.clients" 
                        >
                        <a [routerLink]="['/portal', item.id]">
                            <span class='glyphicon glyphicon-th-list'></span> {{item.name}} ({{item.projects.length}})
                        </a>
                    </li>
                <!--
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/portal']">
                        <span class='glyphicon glyphicon-th-list'></span> Portal
                    </a>
                </li>
            -->
            </ul>
        </div>
    
        
    </div>
</div>
